* {
    margin: 0;
    padding: 0;
} 


body {
    display: flex;
}

.left {
    width: 90vh;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.right {
    width: 200vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.logo{
    margin-top: 20vh;
}

.right-text-up {
    padding: 30px;

}


.login {
    padding: 30px;
}



